* {
    font-family: 'Courier New';
    color: white;
    background-color: black;
    box-sizing: border-box;
    /*outline-width: 2px;
    outline-color: aqua;
    outline-style: solid;*/
}
p {
    color:aqua;
}
.nav_name{
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight:lighter;
    margin-bottom: 0px;
    border-color: lawngreen;
    border-style: double;
}
h2 {
    font-weight: lighter;
    width: 33%;
    height: 35px;
    margin: 0px;
    padding: 0px;
}
.sub_head {
    text-align: center;
    width: 60%;
    display: inline-flex;
}

.click_link:hover {
    font-size: 30px;
    color: lawngreen;
}

.title {
    background-color: white;
}
.sidenav {
    position:sticky;
    overflow: hidden;
    width: 10%;
    float: left;
    display:list-item;
}

.w3-bar-item {
    vertical-align: auto;
    width: 100%
}

.sidenav a:hover {
    font-size: 40px;
}

a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
}

.sidenav .active {
    color:lawngreen;
}

body {
    text-align: center;
}

img {
    display: block;
    margin-left: 33%;
  }