* {
    font-family: 'Courier New';
    background-color: black;
}
p {
    color:aqua;
}
.nav_name{
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight:lighter;
  }
.title {
    background-color: white;
}
.sidenav {
    overflow: hidden;
    max-width:min-content;
}

.sidenav a:hover {
    text-align: left;
    font-size: 40px;
}

a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
}

.sidenav .active {
    color:lawngreen;
}
