<!DOCTYPE html>
<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Matthew Jacobsens Website</title>
</head>
<header class="title">
    <div>
        <h1>Matthew Jacobsen</h1>
        <div class="sub_head">
            <h2>matthewjacobsen1999@gmail.com</h2>
            <h2 class="click_link" button onclick=window.location="http://www.github.com/mjacobsen32">github.com/mjacobsen32</h2>
            <h2 class="click_link" button onclick=window.location="http://www.linkedin.com/in/mjacobsen32">linkedin.com/in/mjacobsen32</h2>
        </div>
    </div>
</header>
<div class="sidenav" style="width:10%">
    <a id="home" href="/" class="w3-bar-item w3-button">Home</a>
    <a id="projects" href="projects" class="w3-bar-item w3-button">Projects</a>
    <a id="research" href="research" class="w3-bar-item w3-button">Research</a>
    <a id="resume" href="resume" class="w3-bar-item w3-button">Resume</a>
</div>
{% block body %} 
{% endblock %}
</html>